body{
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
}
@media screen and (min-width:400px) and (max-width:992px){
    .col-md-4 img{
        margin: 0 auto;
    }
    .featured-work-title{
        text-align: center;
    }
}
.featured-work-title{
    color:#bcbbbb;
}
.hr-line{
    height: 3px;
    background-color: #bcbbbb;
    margin: 30px 0;
}